@import "../../static/style/abstracts/_mixins";
@import "../../static/style/abstracts/_variables";
.summary {
    .hiddenSmall {
        display: none;
    }
    @include breakpoint(medium)  {
        .hiddenSmall {
            display: block;
        }  
    }
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 30;
    background: #fff;
    box-shadow: -6px -5px 33px 0px rgba(235,232,235,1);
    &List {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75px;        
        @include breakpoint(medium)  {
            height: 85px;
        }
        li {
            display: none;

            img.dot {
                width: 22px;
                height: auto;
            }
            img.wheels {
                width: 32px;
                height: auto;
            }

            &:first-child {
                display: block;
                font-size: 16px;
                font-weight: $fontRegular;
                letter-spacing: 2.06px;
                span {
                    display: block;
                    font-weight: $fontLight;
                    font-size: 32px;
                    letter-spacing: 3.75;
                    color: $primary-color;
                }
            }
            
            &:last-child {
                display: block;
            }
                    
            @include breakpoint(medium)  {
                &:nth-child(2) {
                    display: block;
                    font-weight: $fontRegular;
                    font-size: 18px;
                    letter-spacing: 2.32 px;
                }
                &:nth-child(3) {
                    display: block;
                    font-weight: $fontRegular;
                    font-size: 18px;
                    letter-spacing: 2.32 px;
                    span {
                        display: inline-block;
                        font-weight: $fontMedium;
                        margin-left: 7px;
                        color: $primary-color;
                    }
                }
            }
            
        }
    }
    .button {
        a {
            background: red;
        }
    }
}