@import '../build/style.scss';
@import "../../static/style/abstracts/_variables";
@import "../../static/style/abstracts/_mixins";

.engine {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    flex-direction: column;

    @include breakpoint(large)  {
        flex-direction: row;  
    }

    &Image {
        display: block;
        transform: rotate(90deg);
        height: 100vw;
        overflow: hidden;
        margin-bottom: -50%;

        @include breakpoint(large)  {            
            margin-bottom: 0;
            overflow: initial;
            flex-basis: 360px;
            transform: rotate(0);
            width: 100%;
            height: auto;
        }
        img {
            display: block;
            height: 100vw;
            @include breakpoint(large)  {
                height: auto;
                width: 100%;
            }
        }
    }
    &Options {             
        position: relative;
        margin-top: 10px;  
        z-index: 10;
        @include breakpoint(large)  {
            margin-top: 80px;    
            flex-direction: row;
        }
        &List {
            &>li {
                display: block;
                height: 90px;
                background: $bg-color;
                padding: 12px;
                box-sizing: border-box;
                color: #A8A8A8;
                margin-top: 10px;
                @include breakpoint(large)  {           
                    margin-top: 50px; 
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    letter-spacing: 2.83px;

                    li {                        
                        @include breakpoint(large)  {
                            padding: 30px;  
                        }
                        
                        &:nth-child(1) {
                            font-size: 22px;
                            @include breakpoint(large)  {
                                font-size: 34px;
                            }
                            font-weight: $fontLight;
                            span {
                                font-weight: $fontMedium;
                            }
                        }
                        &:nth-child(2),
                        &:nth-child(3) {
                            font-size: 16px;
                            font-weight: $fontMedium;
                            @include breakpoint(large)  {
                                font-size: 22px;
                            }
                            span {
                                font-weight: $fontRegular;
                            }
                        }
                        &:nth-child(4) {
                            position: relative;
                            input[type="radio"] {
                                display: none;
                            }
                            span {
                                display: block;
                                width: 22px;
                                height: 22px;
                                background: #fff;
                                border-radius: 122px;
                            }
                        }
                    }
                }
            }            
            .active {
                color: $secondary-color;
                ul {
                    li {
                        &:nth-child(1) {
                            span {
                                color: $primary-color
                            }
                        }
                        &:nth-child(4) {
                            span {
                                background: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}