@import '../../static/style/abstracts/_supports';
.container {
    display: flex;
    width: 100%;
    max-width: 1340px;  
    margin: auto;
    box-sizing: border-box;
    @extend %defaultPadding;
}