@import '../../static/style/abstracts/_supports';

%common {    
    display: flex;
    width: 100%;
    max-width: 1260px;  
    min-width: 320px;
    margin: auto;
    box-sizing: border-box;
}
.container {
    @extend %common;
    @extend %defaultPadding;
}

.containerFluid {
    @extend %common;  
    @extend %defaultPadding;  
    padding-right: 0;
}