@import "../build/style.scss";
@import "../../static/style/abstracts/_variables";
@import "../../static/style/abstracts/_mixins";
@import "../../static/style/abstracts/_supports";

.wheels {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0 60px;
  @include breakpoint(medium) {
    margin: 104px 0 0;
  }
  input {
    display: none;
  }

  .title {
    text-align: left;
    @include breakpoint(medium) {
      text-align: center;
    }
  }

  &Options {
    margin-top: 110px;
    margin-left: -25px;
    margin-right: -25px;
    @include breakpoint(medium) {
      margin-left: 0;
      margin-right: 0;
    }
    &Item {
      .description {
        display: none;
        flex-direction: column;
        align-items: center;
        font-weight: $fontRegular;
        font-size: 22px;
        text-align: center;
        cursor: pointer;
        span {
          color: $primary-color;
        }
      }
      img {
        transform: scale(0.89);
        opacity: 0.5;
        max-width: 100%;
        margin: auto;
        @extend %transition;
      }
    }
  }
  .active {
    .description {
      display: block;
    }

    img {
      transform: scale(1);
      opacity: 1;
    }
  }
}
