@import "../build/style.scss";
@import "../../static/style/abstracts/_variables";
@import "../../static/style/abstracts/_mixins";
.wheels {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 104px;

  input {
    display: none;
  }

  .title {
    text-align: center;
  }

  &Options {
    // display: flex;
    margin-top: 110px;
    margin-left: -25px;
    @include breakpoint(medium) {
      margin-left: 0;
    }
    // justify-content: space-between;
    &Item {
      .description {
        display: none;
        flex-direction: column;
        align-items: center;
        font-weight: $fontRegular;
        font-size: 22px;
        text-align: center;
        span {
          color: $primary-color;
        }
      }
      img {
        transform: scale(0.89);
        opacity: 0.5;
        max-width: 100%;
        margin: auto;
      }
    }
  }
  .active {
    .description {
      display: block;
    }

    img {
      transform: scale(1);
      opacity: 1;
    }
  }
}
