@import "../../static/style/abstracts/_variables";
@import '../../static/style/abstracts/_supports';
@import '../../static/style/abstracts/_mixins';//´provisorio

nav {
    position: relative;
    display: inline-block;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;    

    @media only screen and (max-width: 820px) {  
        margin-right: -30px;    
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 50px;
            background:  linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.98) 100%);
            z-index: 10;
        }
    }
    ul {    
        box-sizing: border-box;    
        display: block;
        text-align: right;
        
       
        @include breakpoint(medium)  { 
        }

        li {
            display: inline-block;


            a {
                position: relative;
                display: block;
                font-size: 16px;
                color: $lighten-secondary-color;
                margin: 0 27px;
                @extend %transition;

                &:before {                
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    display: block;
                    width: 0%;
                    border-bottom: 3px solid $primary-color;
                }
                
                &:hover{
                    color: $secondary-color;
                    &:before {
                        width: 100%; 
                        @extend %transition;
                    }
                }
                
                &.active {                
                    color: $secondary-color;
                    &:before {
                        width: 100%;
                    }
                }
            }
            &:last-child {
                a {
                    margin-right: 0;
                }
            }
            &:first-child {
                a {
                    margin-left: 0;
                }
            }
        }
    }
}